<div class="main">
    <h2>Educational Background</h2>
    <p class="maincontent">
        Cleared Secondary Boards Examination in 2013 and High Secondary in 2015 with PCM specialization. Appeared for WBJEE in the same year and got admission in Jalpaiguri Government Engineering College with specialization in Computer Science & Engineering.
        Graduted in 2019 and worked for Cognizant for next 3 years. Joined National Institute of Technology Karnataka, Surathkal in 2022 with specialization in Computer Science & Engineering.
    </p>
    <ul class="maincontent">
        <li><b>M.Tech</b>, Computer Science & Engineering, National Institute of Technology Karnataka, Surathkal, <i>2022 - 2024</i></li>
        <li><b>B.Tech</b>, Computer Science & Engineering, Jalpaiguri Government Engineering College, West Bengal,India, <i>2015 - 2019</i>, <b>CGPA - 8.71</b></li>
        <li><b>Class 12(+2)</b>, Science(PCM), Onda High School, Bankura, West Bengal, India, WBCHSE, <i>2015</i>, <b>Percentage - 88.8</b></li>
        <li><b>Class 10</b>, Onda High School, Bankura, West Bengal, India, WBBSE, <i>2013</i>, <b>Percentage - 89</b></li>
    </ul>
</div>