<div class="main">
    <h2>Technical Project</h2>
    <ul class="maincontent">
        <li><b>Bachelor’s Final Year Project : </b><i>’An Elliptic Curve Cryptograpghy-
            Based Multi-server Authentication Scheme using Cancelable Biometrics.’</i> <br>We Designed an efficient and secured Authentication Scheme in multi-server Environment using biometrics.<br> Used Elliptic Curve Cryptography (ECC) algorithm to
            provide security in this authentication scheme.<br> Compared with some existing authentication schemes in terms of Security features and Computational times<br> Used ProVerif tool to check the robustness of this scheme against different security
            attacks.
            <br>Publised in Intelligent Computing and Communication (pp. 153-163) vol 1034. Springer, Singapore.
            <a href="https://doi.org/10.1007/978-981-15-1084-7" target="_blank">https://doi.org/10.1007/978-981-15-1084-7</a>
        </li>
        <br>
        <li><b>Internship at Tenpi Technologies, Kolkata, India,  May 2017 - Jul 2017: </b><i>’Full-Stack Web Development Internship’</i> <br>In the 2nd year of my course, I spent couple of month of my semester break, working as a intern, in this organization.<br>            I developed their official website and partially worked on vehicle portal website. <br> Used HTML, CSS, jQuery as front-end, PHP as back-end and SQL server for connecting with database.<br> During this project, I got industrial experience
            working with professionals.
        </li>
        <br>
    </ul>
</div>