<div class="main">
    <h2>Work Experience</h2>
    <p class="maincontent">Worked as a Front-End Developer in Insurance based Web Application in Cognizant for 3 years and 1 month. Technologies that I have worked on Angular 10, TypeScript, HTML5, SCSS. Worked in Agile Work Environment which follows Scrum Methodology driven
        by client side Scrum Master. I had to participate scrum activities like daily stand-up call, sprint planning and sprint demo. I Have Insurance Domain and Product Knowledge. Used to Collaborate effectively with Business Analyst to understand product
        requirement towards building the right features and also need to estimate and manage deliveries of features in a predictable manner. Developed reusable components and front-end libraries for future use maintaining coding and security standards.
        Written Unit Test Cases. Maintained codes in GitHub repository and CI/CD pipeline is managed by AWS CodeDeploy and hosted on AWS S3. So having good Hands-on knowledge on Git commands, Code pipeline and different AWS services..</p>
    <h4>Positions</h4>
    <ul class="maincontent">
        <li>Programmer Analyst, <b>Cognizant Technology Solution</b>, <i> June 2019 to December 2021</i></li>
        <li>Associate, <b>Cognizant Technology Solution</b>, <i> Jan 2022 to Aug 2022</i></li>
    </ul>
</div>