<div class="main">
    <h2>Skills & Interests</h2>
    <!-- <p class="maincontent">
        Cleared Secondary Boards Examination in 2013 and High Secondary in 2015 with PCM specialization. Appeared for WBJEE in the same year and allocated in Jalpaiguri Government Engineering College with specialization in Computer Science. Graduted in 2019 and
        worked for IT MNC based company for next 2 years. Joined National Institute of Technology Karnataka, Surathkal this year with information security specialization in Computer Science department.
    </p> -->
    <ul class="maincontent">
        <li>Excellent Problem Solving skills ( solved 200+ prolems on leetcode)</li>
        <li>Experinece in Full-Stack Web Development <b>(HTML, CSS, Angular, Bootstrap, TypeScript, NodeJS, MongoDB)</b></li>
        <li>Handson knowledge in some Clould Services <b>(AWS S3, EC2, CodeBuild, CodePipeline, Lambda, API gateway)</b></li>
        <li>Advanced knowledge of <b>C++</b></li>
    </ul>
</div>