<div class="jumbotron text-center header">
    <img src="assets/images/PP.jpg" alt="Avatar" class="image">
    <p class="name">Atanu Chatterjee</p>
    <p class="college">M.Tech Student @ National Institute of Technology Surathkal, Karnataka</p>
    <p class="college">Computer Science & Engineering</p>
</div>

<!-- Side navigation -->
<div class="sidebar">
    <a routerLink="/home">Home</a>
    <a routerLink="/work">Work Experience</a>
    <a routerLink="/education">Education</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/skill">Skills</a>
</div>

<router-outlet></router-outlet>