<div class="main">
    <h3>Brief Introduction</h3>
    <p class="maincontent">M. Tech Student of CSE(2022 - 24) at NITK, Surathkal. Angular Developer with 3+ years of work expereience. Former Associate at Cognizant. Have excellent problem solving skill. Learning and Practicing with NodeJS and MongoDB. Handson knowledge in AWS.
    </p>
    <div class="socail-div">
        <div class="social-icons">
            <button class="button" style="vertical-align:middle" (click)="downLoadResume()"><span>Download Resume</span></button>
            <button class="button" style="vertical-align:middle" (click)="goToContact()"><span>Contact Me</span></button>
        </div>
    </div>

    <hr>
    <!-- <marquee direction="left">Awarded at West Bengal Youth Science Fair 2018 and 2019. Project : "Cloud Based Real-time Energy Monitoring System"</marquee>
    <img src="assets/images/2018.jpg" alt="Avatar" class="image">
    <img src="assets/images/standing.jpg" alt="Avatar" class="image">
    <img src="assets/images/2019.jpg" alt="Avatar" class="image"> -->
    <div class="socail-div">
        <div class="social-icons">
            <a href="https://www.facebook.com/Atanu.chatterjee03" target="_blank"><img src="assets/images/facebook.png" alt="GitHub" class="icon"></a>
            <a href="https://www.instagram.com/atanu.chatterjee03/" target="_blank"><img src="assets/images/instagram.png" alt="GitHub" class="icon"></a>
            <a href="https://github.com/atanuc13" target="_blank"><img src="assets/images/github.png" alt="GitHub" class="icon"></a>
            <a href="https://www.linkedin.com/in/atanu-chatterjee-b500ab127/" target="_blank"><img src="assets/images/linkedin.png" alt="Linkedin" class="icon"></a>
            <a href="https://leetcode.com/atanuc13" target="_blank"><img src="assets/images/leetcode.png" alt="Avatar" class="icon"></a>
        </div>
    </div>

</div>